@import "tailwindcss";

:root {
  --background: #ffffff; /* الوضع الفاتح */
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeaea; /* الوضع الداكن */
    --foreground: #d7d7d7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
